

.hand 
  padding: 0.5em
  background-color: white
  position: absolute
  bottom: 1em
  left: 50%
  transform: translateX(-50%)
  display: grid
  grid-template-columns: repeat(5, $hand-size)
  grid-column-gap: 10px
  grid-row-gap: 10px


.hand__card 
  width: $hand-size
  height: $hand-size
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 0 3px rgba(black, 0.3)
  cursor: pointer
  border: 1px solid black
  font-size: 0.75em
  position: relative
  &.active 
    position: fixed
  


.hand__card__cost 
  // background-color: black
  border: 1px solid black
  color: black
  position: absolute
  top: 2px
  right: 2px
  width: 20px
  height: 20px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%


.hand__card__health,
.hand__card__damage
  position: absolute
  bottom: 2px
  width: 26px
  height: 26px
  background-position: center center
  background-size: 26px auto
  background-repeat: no-repeat
  display: flex
  align-items: center
  justify-content: center
  color: white
  text-shadow: 1px 1px 2px rgba(black, 1)
  font-size: 1.2em

.hand__card__health 
  right: 2px
  background-image: url('../images/heart.png')

.hand__card__damage 
  left: 2px
  background-image: url('../images/sword.png')
